{% extends "onlinejudge/base.html" %}
{% load i18n markup_tags sekizai_tags humanize onlinejudge_tags comments admin_urls %}



{% block "header" %}{% endblock "header" %}

{% block "content" %}
<h1>{{ contest.name }}</h1>
<form method="POST" action="">
  {% csrf_token %}
  <select name="type">
    <option value="ungraded">Neocjenjeni</option>
    <option value="ungraded_and_autograded">Neocjenjeni i automatizirano ocjenjeni</option>
    <option value="all">Svi</option>
  </select>
  <button class="btn btn-primary" type="submit">{% trans "Grade" %}</button>
</form>

{% endblock "content" %}

