{% extends "onlinejudge/base.html" %}
{% load i18n markup_tags sekizai_tags humanize onlinejudge_tags comments admin_urls %}



{% block "header" %}{% endblock "header" %}

{% block "content" %}
<h1>{{ contest.name }}</h1>

{# cps = contest participant score #}
{% for cps in scores %}
<h2>{{ cps.participant.get_full_name }}{% if cps.graded %} <small>({{ cps.score }}/{{ contest.score_max }})</small>{% endif %}</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="result">{% trans "Result" %}</th>
      <th>{% trans "Challenges" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for challenge , submission , score in cps.challenges %}
    <tr>
      <td class="result {{ submission.result.lower }}">
      {% if submission and score.graded %}({{ score.score }}/{{ challenge.score }}){% endif %}
      </td>
      <td>{% if submission %}<a href="{% url 'challenge_report' challenge.slug %}?user_id={{ cps.participant.id }}" target="_blank">{{ challenge.name }}</a>{% else %}{{ challenge.name }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}

{% endblock "content" %}
